extends layout 

block content 
    h1 Welcome #{user.username}!
    div 
        h3 #{user.username}
        h4 #{user.email}
        h4 #{user.phone}
        div.cart-thumbnail
            p Cart items: #{cartItems}
            a(href=`${user.url}/cart`) cart