extends layout 

block content 
    p.display-3 Welcome #{user.username}!
    div 
        p Username: #{user.username}
        p Email: #{user.email}
        
        //- If the user has a phone...
        if user.phone
            p Phone: #{user.phone}
        
        hr
        p.display-3 Details

        .d-flex.justify-content-around

            //- Cart
            div
                p Cart items: #{cartItems} 
                    a(href="/account/cart") ...

            //- Purchase
            div
                p Orders: #{orders} 
                    a(href="/account/orders") ...
