extends layout 

block content 
    .d-flex
        if product.image 
            img.w-50.p-4(src=product.image)

        .p-4
            h1= product.name 
            h3 #{product.description}

            h3 #{product.price} €
            a(href=product.category.url) Category: #{product.category.name}