extends layout 

block content 
    h1= title
    
    if products.length
        ul.d-flex.flex-wrap.justify-content-around
            each product in products 
                li.card.border.m-2.p-3.product-card
                    a(href=product.url) 
                        p #{product.name}
                        h4 #{product.description}
                        //- If the product has an image display it
                        if product.image 
                            img.w-100(src=product.image)
                        h2 #{product.price} €
    else 
        p No Products
    
    .text-right
        a.btn.btn-primary(href="/products/create") Add a new product